{{ define "main" }}
    {{ partial "header" . }}

    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10">
                    <div class="markdown">
                        {{ partial "content" . }}
                    </div>

                    {{ if isset .Site.Params "best_posts" }}
                        <div class="mx-0 mx-md-4 best-posts">
                            <div class="page-heading">{{ i18n "pinned" }}</div>
                            <ul>
                                {{ range .Site.Params.best_posts }}
                                    <li>
                                        <a href="{{ .url }}">{{ .title }}</a>
                                    </li>
                                {{ end }}
                            </ul>
                        </div>
                    {{ end }}

                    <div class="mx-0 mx-md-4 posts">
                        <div class="page-heading">Index</div>
                            <ul>
                                {{ range .Site.Sections.ByWeight }}
                                    {{ partial "sect" . }}
                                {{ end }}
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer" . }}
{{ end }}
